---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { blogPosts } from '../../data/blogPosts';
import { blogContent } from '../../data/blogContent';

export function getStaticPaths() {
  return blogPosts.map(post => ({ params: { slug: post.slug }, props: { post } }));
}

const { post } = Astro.props;
const content = blogContent;
---

<BlogLayout
  title={post.title}
  description={post.description}
  date={post.date}
  category={post.category}
  image={post.image}
  readTime={post.readTime}
>
  <Fragment set:html={content[post.slug] || '<p>Content coming soon.</p>'} />
</BlogLayout>
